body{
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
}
h1,h2,h3,h4,h5{
    /* margin: 10px 0 */
}
h2{
    border-bottom: gray solid 1px;
}
.italics{
    font-style: italic;
    
}
.names{
    font-size: 12px;
}
.row{
    float:left;
    width: 100%;
}
.col{
    width:46%;
    float:left;
    padding:0 2%

}
img{
    margin-left: 15px;
}
.img_db{
    height: 600px;
    width: 850px;

}
.img_a{
    height: 350px;
    width: 500px;
}
.img_tech{
    height: 175px;
    width: 500px;
}
.list{
    font-size: 16px;
    font-weight: 400;
}